<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ad Stats</title>
  </head>
  <body>
    <h1>Ad Stats</h1>
    <h2>{{ min_time }}</h2>
    <h2>{{ max_time }}</h2>
    <h2>ctr: {{ ctr }}</h2>
    <p>Views: {{ total_views }}</p>
    <p>Clicks: {{ total_clicks }}</p>
    <ul>
        {% for ad in ads %}
            <li>{{ ad.title }} - {{ ad.click_count }} clicks from {{ ad.view_count }} views</li>

        {% endfor %}
    </ul>
    <a href="{% url 'advertiser_management:index' %}">Return</a>
  </body>
</html>