<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Ad</title>
  </head>
  <body>
    <h1>Create An Ad!</h1>
    {% if error_message %}
        <h2>{{ error_message }}</h2>
    {% endif %}
    <form action="{% url 'advertiser_management:create_advertiser' %}" method="POST">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'advertiser_management:index' %}">Cancel</a>
  </body>
</html>