<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Ad</title>
  </head>
  <body>
    <h1>index</h1>
    {{ advertisers }}
    <ul>
        {% for advertiser in advertisers %}
            <li>{{ advertiser.id }}-{{ advertiser.name }}-- views: {{ advertiser.views }} clicks: {{ advertiser.clicks }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for ad in ads %}
            <li>
                {{ ad.id }}-{{ ad.title }}--belong to advertiser {{ ad.advertiser.id }}-{{ ad.advertiser.name }}
                views: {{ ad.views }} clicks: {{ ad.clicks }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'advertiser_management:create_ad' %}">Create Ad</a>
    <br>
    <a href="{% url 'advertiser_management:create_advertiser' %}">Create Advertiser</a>
    <br>
    <a href="{% url 'advertiser_management:ad_page' %}">See Ads</a>
    <br>
    <a href="{% url 'advertiser_management:ad_stats' 0 %}">See Ad Stats</a>
  </body>
</html>